@import "tailwindcss";

@theme {
  --color-iceblue: oklch(0.8483 0.0816 243.39);
  --color-obsidian: oklch(0.1509 0.0109 276.17);

  --animate-slide-in-from-right: slide-in-from-right 500ms ease;
  --animate-slide-out-to-right: slide-out-to-right 500ms ease;

  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-to-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

body {
  @apply m-6;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:focus-visible {
  outline: none !important;
}
